{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="row" style="background-image: url('../static/images/contact-page-bg.jpg');background-size: cover; background-position: center center;font-family: Poppins,sans-serif;margin: 4% 0 0px 0;text-align: center;">
    <div class="col-sm-12 col-md-12 col-lg-12" style="color: #ffffff;padding: 1%;text-transform:none;letter-spacing:1px;">
        <h1 style="font-size:60px;font-weight:700">Contact Us</h1>
        <p style="font-size:25px;font-weight:700">Get Intouch</p>
    </div>
</div>
<div class="row" style="background-color: #161616;color: #ffffff;font-family: Poppins,sans-serif;">
    <div class="col-sm-4 col-md-4 col-lg-4" style="margin:60px 0 30px 0;text-align: center;">
        <i class="fa fa-phone" style="color: #ffffff ;font-size: 40px ;min-width: 40px ;min-height: 40px ;"></i>
        <p style="color: #dd9933;font-size: 26px ;font-weight: 800 ;font-style: normal ;margin:20px auto 15px auto;text-transform: none">Phone</p>
        <p style="font-size: 18px ;font-weight: 300;margin-bottom:20px;color: #e6e6e6;text-transform: none">Call us on</p>
        <a href="#" style="color:#78822c;font-size: 17px">+234-8076346382</a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" style="margin:60px 0 30px 0;text-align: center;">
        <i class="fa fa-envelope" style="color: #ffffff ;font-size: 40px ;min-width: 40px ;min-height: 40px ;"></i>
        <p style="color: #dd9933;font-size: 26px ;font-weight: 800 ;font-style: normal ;margin:20px auto 15px auto;text-transform: none">Email</p>
        <p style="font-size: 18px ;font-weight: 300;margin-bottom:20px;color: #e6e6e6;text-transform: none">Send us an email @</p>
        <a href="#" style="color:#78822c;font-size: 17px">info@.edu.ng</a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" style="margin:60px 0 30px 0;text-align: center;">
        <i class="fa fa-location-arrow" style="color: #ffffff ;font-size: 40px ;min-width: 40px ;min-height: 40px ;"></i>
        <p style="color: #dd9933;font-size: 26px ;font-weight: 800 ;font-style: normal ;margin:20px auto 15px auto;text-transform: none">Address</p>
        <p style="font-size: 18px ;font-weight: 300;margin-bottom:20px;color: #e6e6e6;text-transform:uppercase">Grammar SChool, Oyo State Nigeria</p>
        <a href="https://www.google.com/maps/place/Olunde+Community+Grammar+Sxhool,+Jogbin./@7.309972,3.923887,16z/data=!4m5!3m4!1s0x0:0x5545147032c8f644!8m2!3d7.3099799!4d3.9238859?hl=en" target="_blank" style="color:#78822c;font-size: 17px">View On Google Map</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.390325603752!2d3.921698515289839!3d7.309971894724234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103991c103c42081%3A0x5545147032c8f644!2sOlunde%20Community%20Grammar%20Sxhool%2C%20Jogbin.!5e0!3m2!1sen!2sng!4v1634108088711!5m2!1sen!2sng" width="1655" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>


{% endblock %}